<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
  <h1>Log in using GitHub</h1>  
  <%= form_tag(:action => 'begin_oauth_process') do %>    
    <%= submit_tag("GitHub Login") %>
  <% end %>
</div>
<br/>
<%=link_to "Sign in with Github", "/auth/github" %>
