<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>


<h2>Natasha the Robot Tutorial</h2>
<% if current_user %>
"Welcome #{current_user.name}"
<% else %>
<%= link_to("Sign in with Github", "/auth/github") %>
<% end %>
